body {
    margin: 0;
    font-family: "Times New Roman";
    background-color: #000000;
}

#nenweb {
    width: 1200px;
    margin: auto;
    background-color: rgb(255, 240, 189);
}

#h1 {
    font-size: 48px;
    letter-spacing: 2px;
    margin: 0;
}

#p {
    font-size: 20px;
    font-style: italic;
}


#thanhdieuhuong {
    background-color: darkred;
    text-align: center;
}
#thanhdieuhuong a {
    display: inline-block;
    color: gold;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 15px;
}

#thanhdieuhuong a:hover {
    background-color: #ff303033;
}



#header {
    height: 210px;
    background-image:
        linear-gradient(rgba(120,0,0,0.45), rgba(120,0,0,0.45)),
        url("hoaanhdao.jpg");
    background-size: 1200px 675px;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 120px;
}



.tieude {
    text-align: center;
    color: darkred;
    font-size: 30px;
    margin-bottom: 8px;
}
.gachvang {
    width: 80px;
    height: 3px;
    background: #f0c040;
    margin: 0 auto 40px;
}

.chudoc {
      padding: 10px;
    font-size: 20px;
}

.khoangcachtrentieude {
    padding: 50px 0;
}

.gioihanchieurong {
    width: 1000px;
    margin: auto;
}

.bogocanh {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(145, 4, 4, 0.25);
}

/* ===== ẨM THỰC NGÀY TẾT ===== */
.canongang {
    width: 300px;
    height: 380px;          
    display: inline-block;
    vertical-align: top;   
    background: white;
    border-radius: 12px;
    overflow: hidden;
    margin: 15px;
    box-shadow: 0 6px 18px rgba(145, 4, 4, 0.25);
}

.anho {
    width: 100%;
    height: 180px;
}

.tieudemonan {
    background: darkred;
    color: gold;
    padding: 12px;
    font-size: 25px;
    text-align: center;
}

/* ===== PHONG TỤC NGÀY TẾT ===== */


/* ===== Ý NGHĨA NGÀY TẾT & PHONG TỤC TẾT===== */
.khoangcachhang {
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    display: flex;
}

.khoangcachhang img {
    width: 280px;
    height: auto;
    float: left;
    margin-right: 20px;
}

.khoangcachhang h3 {
    font-size: 25px;
    color: darkred;
}

/* ===== VIDEO NGÀY TẾT ===== */
.kichthuocvideo {
    width: 760px;
    margin: auto;
}

.kichthuocvideo iframe {
    width: 100%;
    height: 405px;
}

.kichthuocvideo p{
    text-align: center;
}

/* ===== FOOTER ===== */
.footer {
    background-color: darkred;
    text-align: center;
    padding: 20px;
}

.footer p {
    color: gold;
    font-size: 14px;
}


/* ===== GÓP Ý ===== */
#gopy {
    width: 600px;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
}

#gopy input,
#gopy textarea {
    width: 90%;
    padding: 8px;
}

#gopy button {
    padding: 8px 20px;
}
